body {background-color: #222222; position: relative;}

h1, h2, h3, h4, h5, h6 {font-family: 'Tinos', serif;}
p {font-family: 'Raleway', sans-serif;}

.command{
    background-color: #E5E5E5;
    border: 1px solid black;
    border-radius: 0;
    padding: .5em 1em;
}
code {
    font-family: monospace;
    font-weight: bold;
    background-color: #E5E5E5;
    color: black;
    border: none;
}
samp {
    font-weight: normal;
    font-family: monospace;
}

.page {padding-top: 50px; padding-bottom: 10px; height: auto;}
.section {padding-bottom: 15px; border-style: none none groove none;}
.code_block {
    border: 2px solid;
    border-radius: 10px;
    margin: 15px -10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* Adjust icons so that they aren't cut off on MEDIUM devices */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) {
    .content {padding-left: 80px; padding-right: 80px;}
}
/* Hide icons on LARGE devices that they aren't cut off in early dimensions */
@media only screen
and (min-width: 1200px) 
and (max-width: 1330px)
and (orientation: landscape) {
    .logo {visibility: hidden;}
}

.banner {background-color: white; color: black; height: 200px;}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {margin-bottom: 0px;}   
.affix ~ .container-fluid {position: relative; top: 50px;}
.dropdown-menu {background-color: #222222;}
#menu-item {color: white;}

/*light pink*/
#about {background-color: #A3C2DB;}
/*almond*/
#resume {background-color: #EFDECD;}
/*light gray*/
#projects {background-color: #C8C5C5; margin-bottom: 50px;}
/*light blue
#contact {background-color: #A1CCF6;}
*/

#BaruchHashem {color: white; font-family: 'Tinos', serif;}

#uname {font-size: 17px;}

/*#782F40;#AA8B46;#BA1414;#D3920E;#AA6ED8;#7C45A5;#45A54D;#368FE2;#095FA3;
   GARNET  GOLD    RED     ORANGE  lPURPLE PURPLE  GREEN   lBLUE   SSFBLUE*/
#monty {border-color: #AA6ED8;}
#bmbuddy {border-color: #095FA3;}
#listserv {border-color: #782F40;}
#blfs {border-color: #45A54D;}
#pizzapi {border-color: #D3920E;}
#description {
    padding-bottom: 10px;
    border-style: none none double none;
    border-color: #BA1414;
}

img.imgNav {filter: invert(100%);}
img.seal {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: -95px;
    margin-top: -5px;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: filter 1s;
}
img.seal:hover {
    filter: grayscale(0%);
}
